body {
    background: #f7f8fb !important;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
}
svg {
    height: auto;
}
.Outfit {
    font-family:
        "Outfit",
        sans-serif !important;
}
.Poppins {
    font-family:
        "Poppins",
        sans-serif !important;
}
.relative {
    position: relative;
}
.text_center {
    text-align: center;
}
.text_right {
    text-align: right !important;
}
.fw_400 {
    font-weight: 400 !important;
}
.fw_500 {
    font-weight: 500 !important;
}
.fw_600 {
    font-weight: 600 !important;
}
.fw_700 {
    font-weight: 700 !important;
}
.bluetext {
    color: #0024fc !important;
}
.whitetext {
    color: #fff !important;
}
.blacktext {
    color: #000 !important;
}
.pinktext {
    color: #f1b3f3 !important;
}
.redtext {
    color: red !important;
}
.ylwtext {
    color: #fdec07 !important;
}
.italic {
    font-style: italic;
}
.cross_back {
    width: 25px;
    height: auto;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
}
@media (max-width: 991px) {
    .cross_back {
        right: 10px;
        top: 10px;
    }
}
@media (max-width: 767px) {
    .cross_back {
        width: 20px;
        top: 5px;
    }
}
.cross_back img,
.cross_back svg {
    width: 100%;
    height: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="date"] {
    background-color: transparent;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="color"]::-moz-color-swatch {
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.input[type="password"] {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    box-shadow: 0 0 0px 1000px #fff inset !important;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
button {
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}
a,
a:hover {
    font-size: inherit;
    text-decoration: none;
}
span,
strong {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}
input:focus,
textarea:focus {
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="date"] {
    background-color: transparent;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="color"]::-moz-color-swatch {
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: 0;
}
.input {
    width: 100%;
    height: 45px;
    padding: 10px;
    line-height: 24px;
    font-size: 14px;
    line-height: 33px;
    color: #707070;
    font-family: "Outfit", sans-serif !important;
    border: 1px solid rgba(112, 112, 112, 0.2);
    border-radius: 5px;
}
.textarea {
    width: 100%;
    height: 45px;
    padding: 10px;
    line-height: 24px;
    font-size: 14px;
    line-height: 33px;
    color: #707070;
    font-family: "Outfit", sans-serif !important;
    border: 1px solid rgba(112, 112, 112, 0.2);
    border-radius: 5px;
}
.mytooltip {
    position: relative;
    display: inline-block;
}
@media (max-width: 767px) {
    .mytooltip {
        position: initial;
    }
}
.mytooltip .icon_tooltip {
    width: 11px;
    height: auto;
    line-height: 16px;
    margin: -2px 0 0;
    cursor: pointer;
}
.mytooltip .tooltip_content {
    background-color: #fff;
    width: 380px;
    position: absolute;
    left: -20px;
    top: 100%;
    margin: 8px 0 0;
    padding: 15px 0;
    border-radius: 12px;
    z-index: 5;
    border: 1px solid rgba(112, 112, 112, 0.2);
    display: none;
    z-index: 101;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 4px;
}
.mytooltip .tooltip_content:before {
    content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    left: 0px;
    top: -25px;
}
@media (max-width: 767px) {
    .mytooltip .tooltip_content {
        width: 300px;
        left: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.mytooltip .tooltip_content .arrow {
    width: 14px;
    height: 10px;
    position: absolute;
    left: 17px;
    top: -10px;
}
@media (max-width: 767px) {
    .mytooltip .tooltip_content .arrow {
        display: none;
    }
}
.mytooltip .tooltip_content .arrow:before {
    content: "";
    border-bottom: 10px solid rgba(112, 112, 112, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
.mytooltip .tooltip_content .arrow:after {
    content: "";
    border-bottom: 10px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 0;
    top: 2px;
}
.mytooltip .tooltip_content .customscroll {
    width: 100%;
    padding: 0 10px;
    display: flex;
    gap: 15px;
    max-height: 180px;
    overflow: auto;
}
.mytooltip .tooltip_content .customscroll .icon {
    width: 25px;
    min-width: 25px;
}
.mytooltip .tooltip_content .tt_heading {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    display: block;
    margin-bottom: 5px;
}
.mytooltip .tooltip_content p {
    font-size: 11px !important;
    line-height: 15px !important;
    color: #707070 !important;
    margin: 0px;
    text-align: left !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
}
.mytooltip .tooltip_content p ~ p {
    padding-top: 10px;
}
.mytooltip .tooltip_content p a {
    color: #0f4ef1;
}
.mytooltip .tooltip_content .tooltipimg {
    width: 100%;
    padding-top: 10px;
}
.mytooltip .tooltip_content.top {
    top: initial;
    bottom: 100%;
    margin: 0px 0 8px;
}
.mytooltip .tooltip_content.top .arrow {
    top: initial;
    bottom: -10px;
    transform: rotate(180deg);
}
.mytooltip .tooltip_content.top:before {
    top: inherit;
    bottom: -25px;
}
.mytooltip .tooltip_content.left {
    left: inherit;
    right: -20px;
}
.mytooltip .tooltip_content.left .arrow {
    left: inherit;
    right: 17px;
}
.mytooltip:hover .tooltip_content {
    display: block;
}
.small_tooltip {
    position: relative;
}
.small_tooltip .tooltip_content {
    background: #fff;
    padding: 7px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 8px;
    display: none;
    z-index: 10;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.small_tooltip .tooltip_content:before {
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.small_tooltip .tooltip_content .arrow {
    width: 12px;
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -6px;
}
.small_tooltip .tooltip_content .arrow:before {
    content: "";
    border-top: 8px solid rgba(112, 112, 112, 0.2);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
.small_tooltip .tooltip_content .arrow:after {
    content: "";
    border-top: 8px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 0;
    top: -2px;
}
.small_tooltip .tooltip_content p {
    font-size: 10px !important;
    line-height: 16px !important;
    font-weight: 400 !important;
    color: #0024fc !important;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    margin: 0 !important;
}
.small_tooltip .tooltip_content.btm {
    bottom: inherit;
    top: 100%;
    margin-bottom: 0;
    margin-top: 8px;
}
.small_tooltip .tooltip_content.btm:before {
    bottom: inherit;
    top: -10px;
}
.small_tooltip .tooltip_content.btm .arrow {
    left: 50%;
    transform: rotate(180deg);
    bottom: inherit;
    top: -8px;
}
.small_tooltip .tooltip_content.left {
    left: inherit;
    right: 0;
    transform: none;
}
.small_tooltip .tooltip_content.left .arrow {
    left: inherit;
    right: 3px;
    margin-left: 0;
}
.small_tooltip .tooltip_content.right {
    left: 0;
    transform: none;
}
.small_tooltip .tooltip_content.right .arrow {
    left: 3px;
    margin-left: 0;
}
.small_tooltip:hover .tooltip_content {
    display: block;
}
.letter_remaining {
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    font-family: "Outfit", sans-serif !important;
    color: #848484;
    justify-content: flex-end;
    display: flex;
    margin: 5px 0;
}
.letter_remaining span {
    font-size: inherit;
    color: inherit !important;
}
.error_msg {
    background: #ffebe6;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 0 4px 4px 0;
    border-left: 2px solid red;
    margin: 5px 0;
}
.error_msg .licon {
    width: 24px;
    min-width: 24px;
}
.error_msg .textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.error_msg .textbox .ttext {
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    color: red;
}
.error_msg .textbox p {
    font-size: 10px !important;
    line-height: 16px !important;
    color: #000 !important;
    text-align: left !important;
    margin: 0 !important;
}
@-webkit-keyframes moveRightLeft {
    0% {
        right: 15px;
    }
    50% {
        right: 25px;
    }
    100% {
        right: 15px;
    }
}
@keyframes moveRightLeft {
    0% {
        right: 15px;
    }
    50% {
        right: 25px;
    }
    100% {
        right: 15px;
    }
}
.moveRightLeft {
    animation: moveRightLeft 3s ease-in-out infinite;
    -webkit-animation: moveRightLeft 3s ease-in-out infinite;
}
.c_btn {
    background-color: #0024fc;
    min-width: 110px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 500;
    font-family: "Outfit", sans-serif !important;
    border: 0;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    border-radius: 50px;
}
.c_btn:disabled {
    background-color: #cccccc;
}
.c_btn:hover:disabled {
    background-color: #848484;
}
.c_btn svg path {
    transition: all ease-in-out 0.4s;
}
.c_btn:hover {
    background-color: #384554;
    font-size: 14px;
    color: #fff;
}
.c_btn.border_btn {
    background-color: transparent;
    border: 1px solid #0024fc;
    color: #0024fc;
}
.c_btn.border_btn svg path {
    fill: #0024fc;
}
.c_btn.border_btn:hover {
    background-color: #0024fc;
    color: #fff;
}
.c_btn.border_btn:hover svg path {
    fill: #fff;
}
.c_btn.border_btn.red {
    border-color: red;
    color: red;
}
.c_btn.border_btn.red:hover {
    background-color: red;
    color: #fff;
}
.c_btn.bgred {
    background-color: red;
}
.c_btn.bgred:hover {
    background-color: #0024fc;
}
.c_btn.fade_btn {
    opacity: 0.5;
}
.c_btn.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.c_btn.animate_arrow {
    padding-right: 55px;
    position: relative;
}
.c_btn.animate_arrow .rgt_arrow {
    width: 25px;
    position: absolute;
    right: 15px;
    top: 22px;
    -webkit-animation: moveRightLeft 3s linear infinite;
    animation: moveRightLeft 3s linear infinite;
}
.c_btn.animate_arrow .rgt_arrow svg path {
    transition: all 0.4s ease-in-out;
    fill: #fff;
}
.dotsclick {
    min-width: 8px;
}
.dotsclick img {
    min-width: 4px;
}
.mycommon_dropdown {
    padding: 0;
    overflow: hidden;
}
.mycommon_dropdown ul {
    padding: 10px 0;
}
.mycommon_dropdown li .dropdown-item {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    padding: 5px 10px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.mycommon_dropdown li .dropdown-item .icon {
    width: 15px;
    max-width: 15px;
}
.mycommon_dropdown li .dropdown-item .icon img,
.mycommon_dropdown li .dropdown-item .icon svg {
    max-width: 15px;
}
.dropdown-toggle:after {
    display: none;
}
.dropdown-item:active {
    background: transparent;
    color: #000;
}
.dropdown-item:focus {
    background: transparent;
    color: #000;
}
.form-group {
    margin: 0;
}
.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.form-group input:checked + label:before {
    border: 1px solid #0024fc;
    background: #0024fc;
}
.form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.form-group label {
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: relative;
    cursor: pointer;
    margin: 0;
}
.form-group label:before {
    content: "";
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #707070;
    padding: 2px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    margin: -2px 0 0 0;
}
.customscroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.customscroll::-webkit-scrollbar-thumb {
    background-color: #ef1855;
}
.text_uppercase {
    text-transform: uppercase;
}
.top_successful_msg {
    background: #25a76b;
    width: 100%;
    max-width: 375px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    z-index: 9999;
    display: none;
}
@media (max-width: 500px) {
    .top_successful_msg {
        max-width: 280px;
    }
}
.top_successful_msg.show {
    display: flex;
}
.top_successful_msg.fixed_top {
    position: fixed;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
}
@media (max-width: 991px) {
    .top_successful_msg.fixed_top {
        top: 15px;
    }
}
@media (max-width: 500px) {
    .top_successful_msg.fixed_top {
        margin: 0;
        top: 10px;
    }
}
.top_successful_msg.absolute_top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 10px;
}
.top_successful_msg svg,
.top_successful_msg img {
    width: 45px;
    min-width: 45px;
}
.top_successful_msg p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}
.custom_container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
}
