@font-face {
    font-family: "Nasalization";
    src: url("../fonts/Nasalization-Regular.eot");
    src:
        url("../fonts/Nasalization-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nasalization-Regular.woff2") format("woff2"),
        url("../fonts/Nasalization-Regular.woff") format("woff"),
        url("../fonts/Nasalization-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background: #ffffff;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page_wrap {
    background-color: #fbfcfd;
    width: 100%;
    min-height: 103px;
    overflow: hidden;
    z-index: 0;
    font-family: "Poppins", sans-serif;
}
.page_wrap img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.page_wrap .customscroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.page_wrap .customscroll::-webkit-scrollbar-thumb {
    background-color: #0024fc;
}
.page_wrap .transition {
    transition: all ease-in-out 0.4s;
}
.page_wrap h1,
.page_wrap h2,
.page_wrap h3,
.page_wrap h4,
.page_wrap h5,
.page_wrap h6 {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.page_wrap input::-webkit-outer-spin-button,
.page_wrap input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.page_wrap input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.page_wrap button,
.page_wrap button:focus {
    outline: none;
}
.page_wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.page_wrap p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #384554;
}
.page_wrap a,
.page_wrap a:hover {
    font-size: inherit;
    text-decoration: none;
}
.page_wrap span,
.page_wrap strong,
.page_wrap i {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
.page_wrap .mlr-auto {
    margin-left: auto;
    margin-right: auto;
}
.page_wrap input:focus,
.page_wrap textarea:focus {
    outline: none;
}
.page_wrap button {
    border: 0;
    font-family: "Poppins", sans-serif;
}
.page_wrap .relative {
    position: relative;
}
.page_wrap .text_center {
    text-align: center;
}
.page_wrap .text_right {
    text-align: right !important;
}
.page_wrap .fw_400 {
    font-weight: 400 !important;
}
.page_wrap .fw_500 {
    font-weight: 500 !important;
}
.page_wrap .fw_600 {
    font-weight: 600 !important;
}
.page_wrap .fw_700 {
    font-weight: 700 !important;
}
.page_wrap .bluetext {
    color: #0024fc !important;
}
.page_wrap .whitetext {
    color: #fff !important;
}
.page_wrap .blacktext {
    color: #000 !important;
}
.page_wrap .pinktext {
    color: #f1b3f3 !important;
}
.page_wrap .pt-0 {
    padding-top: 0 !important;
}
.page_wrap .pb-0 {
    padding-bottom: 0 !important;
}
.page_wrap .d-none {
    display: none;
}
@-webkit-keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.page_wrap .zoomInOut {
    animation: zoomInOut 3s ease-in-out infinite;
    -webkit-animation: zoomInOut 3s ease-in-out infinite;
}
@-webkit-keyframes moveRightLeft {
    0% {
        right: 10px;
    }
    50% {
        right: 20px;
    }
    100% {
        right: 10px;
    }
}
@keyframes moveRightLeft {
    0% {
        right: 10px;
    }
    50% {
        right: 20px;
    }
    100% {
        right: 10px;
    }
}
.page_wrap .moveRightLeft {
    animation: moveRightLeft 3s ease-in-out infinite;
    -webkit-animation: moveRightLeft 3s ease-in-out infinite;
}
@-webkit-keyframes moveTopBottom {
    0% {
        top: 0px;
    }
    50% {
        top: -7px;
    }
    100% {
        top: 0px;
    }
}
@keyframes moveTopBottom {
    0% {
        top: 0px;
    }
    50% {
        top: -7px;
    }
    100% {
        top: 0px;
    }
}
.page_wrap .moveTopBottom {
    animation: moveTopBottom 3s ease-in-out infinite;
    -webkit-animation: moveTopBottom 3s ease-in-out infinite;
}
@-webkit-keyframes autoflip {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes autoflip {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.page_wrap .autoflip {
    -webkit-animation: autoflip 5s linear infinite;
    animation: autoflip 5s linear infinite;
    transform-style: preserve-3d;
}
@-webkit-keyframes textYlwWhite {
    0% {
        width: 35px;
    }
    100% {
        width: 100%;
    }
}
@keyframes borderanimate {
    0% {
        width: 35px;
    }
    100% {
        width: 100%;
    }
}
.page_wrap .animate_border {
    width: 150px;
    height: 3px;
    position: relative;
    margin: 5px 0;
}
.page_wrap .animate_border:before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #0024fc 50%, #384554 50%) top/100% 3px no-repeat;
    width: 30px;
    height: 3px;
    animation: 3s linear infinite alternate forwards borderanimate;
    -webkit-animation: 3s linear infinite alternate forwards borderanimate;
    bottom: 0;
    border-radius: 10px;
}
.page_wrap .animate_border.center {
    margin: 0 auto;
}
.page_wrap .animate_border.center:before {
    left: 50%;
    transform: translateX(-50%);
}
@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.page_wrap .rotate_animation {
    animation: rotate 5s linear infinite;
    -webkit-animation: rotate 5s linear infinite;
}
@-webkit-keyframes gradient {
    0% {
        background-position: -5000px 0;
    }
    100% {
        background-position: 5000px 0;
    }
}
@keyframes gradient {
    0% {
        background-position: -5000px 0;
    }
    100% {
        background-position: 5000px 0;
    }
}
.page_wrap .brand_btn {
    -webkit-animation: gradient 53s linear infinite;
    animation: gradient 53s linear infinite;
    background: linear-gradient(
        121.19deg,
        rgba(133, 239, 49, 0) 25.73%,
        rgba(255, 255, 255, 0.3) 45.27%,
        rgba(133, 239, 49, 0) 62.27%
    );
}
.page_wrap .brand_btn.brand_btnblue {
    background: linear-gradient(
        121.19deg,
        rgba(133, 239, 49, 0) 25.73%,
        rgba(0, 36, 252, 0.1) 45.27%,
        rgba(133, 239, 49, 0) 62.27%
    );
}
.page_wrap .cta_btn {
    background-color: #fff;
    min-width: 160px;
    min-height: 67px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.16px;
    font-family: "Nasalization";
    color: #384554;
    text-decoration: none;
    position: relative;
    border: 1px solid #c5cbd26f;
    border-radius: 15px;
    box-shadow: inset 0px 9px 12px #626e7817;
}
@media (max-width: 991px) {
    .page_wrap .cta_btn {
        min-height: 45px;
        font-size: 14px;
    }
}
.page_wrap .cta_btn .rgt_arrow {
    width: 23px;
    height: 11px;
    line-height: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    transition: all 0.3s ease-in-out;
}
.page_wrap .cta_btn .rgt_arrow svg {
    width: 23px;
    height: auto;
}
.page_wrap .cta_btn:hover {
    background: url("../images/article/bg_button.png") repeat-x left bottom;
    font-size: 16px;
    color: #fff;
    box-shadow: 0px 9px 12px #626e781c;
}
@media (max-width: 991px) {
    .page_wrap .cta_btn:hover {
        font-size: 14px;
    }
}
.page_wrap .cta_btn.animate_arrow {
    padding-right: 50px;
    position: relative;
}
.page_wrap .cta_btn.animate_arrow .rgt_arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-animation: moveRightLeft 3s linear infinite;
    animation: moveRightLeft 3s linear infinite;
}
.page_wrap .cta_btn.animate_arrow .rgt_arrow svg path {
    transition: all 0.4s ease-in-out;
}
.page_wrap .cta_btn.bgblue {
    background-color: #0024fc;
    color: #fff;
}
.page_wrap .cta_btn.bgblue:hover {
    background: #384554;
}
.page_wrap .cta_btn.no_bg {
    background-color: transparent;
    min-height: auto;
    color: #0024fc;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    box-shadow: none;
    border: 0;
}
.page_wrap .cta_btn.no_bg:hover {
    background: none;
    color: #384554;
}
.page_wrap .cta_btn.no_bg:hover svg path {
    fill: #384554;
}
.page_wrap .cta_btn.no_bg.textwhite {
    color: #fff;
}
.page_wrap .cta_btn.no_bg.textwhite svg path {
    fill: #fff;
}
.page_wrap .cta_btn.no_bg.textwhite:hover {
    color: #0024fc;
}
.page_wrap .cta_btn.no_bg.textwhite:hover svg path {
    fill: #0024fc;
}
.page_wrap .common_fullrow .custom_container {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .page_wrap .common_fullrow .custom_container {
        flex-direction: column !important;
        gap: 20px;
    }
}
.page_wrap .common_fullrow .custom_container > div {
    width: 47%;
}
.page_wrap .common_fullrow .custom_container > div.full {
    width: 100% !important;
}
@media (max-width: 767px) {
    .page_wrap .common_fullrow .custom_container > div {
        width: 100% !important;
    }
}
.page_wrap .common_fullrow .custom_container.reverse {
    flex-direction: row-reverse;
}
.page_wrap .common_textbox {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 15px;
}
@media (max-width: 767px) {
    .page_wrap .common_textbox {
        padding-bottom: 0;
    }
}
.page_wrap .common_textbox p {
    font-size: 14px;
    line-height: 21px;
    color: #384554;
    letter-spacing: -0.14px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 20px;
}
.page_wrap .common_textbox p.center {
    text-align: center;
}
.page_wrap .common_textbox ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    padding-bottom: 40px;
}
@media (max-width: 991px) {
    .page_wrap .common_textbox ul {
        padding-bottom: 25px;
    }
}
.page_wrap .common_textbox ul li {
    font-size: 16px;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 400;
    padding-left: 32px;
}
.page_wrap .common_textbox.texttop {
    justify-content: flex-start;
}
.page_wrap .full_btnrow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px 30px;
    padding-top: 20px;
}
@media (max-width: 767px) {
    .page_wrap .full_btnrow {
        padding-top: 15px;
        gap: 20px;
    }
}
.page_wrap .full_btnrow.center {
    justify-content: center;
}
.page_wrap .full_btnrow.end {
    justify-content: flex-end;
}
.page_wrap .custom_container {
    width: 100%;
    max-width: 1226px;
    padding: 0 15px;
    margin: 0 auto;
}
.page_wrap svg {
    width: auto;
    height: auto;
}
.page_wrap .owl-carousel .owl-stage,
.page_wrap .owl-carousel .owl-item {
    display: flex;
}
.page_wrap .owl-carousel .owl-dots {
    display: none;
}
.page_wrap .owl-carousel .owl-nav > div {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 767px) {
    .page_wrap .owl-carousel .owl-nav > div {
        width: 20px;
        height: 20px;
    }
}
.page_wrap .owl-carousel .owl-nav > div.disabled {
    display: none;
}
.page_wrap .owl-carousel .owl-nav > div.owl-prev {
    background: url("../images/article/carousel_leftarrow.svg") no-repeat center center;
    background-size: 100% 100%;
    left: -35px;
}
@media (max-width: 1250px) {
    .page_wrap .owl-carousel .owl-nav > div.owl-prev {
        left: 0;
    }
}
.page_wrap .owl-carousel .owl-nav > div.owl-next {
    background: url("../images/article/carousel_rightarrow.svg") no-repeat center center;
    background-size: 100% 100%;
    right: -35px;
}
@media (max-width: 1250px) {
    .page_wrap .owl-carousel .owl-nav > div.owl-next {
        right: 0;
    }
}
.page_wrap .owl-carousel .owl-nav > div:hover {
    opacity: 0.8;
}
.page_wrap .c_heading {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -1.2px;
    color: #384554;
    font-family: "Nasalization";
    font-weight: 400;
    text-align: left;
    gap: 5px;
    margin-bottom: 10px;
}
@media (max-width: 1199px) {
    .page_wrap .c_heading {
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width: 991px) {
    .page_wrap .c_heading {
        font-size: 28px;
        line-height: 34px;
    }
}
@media (max-width: 767px) {
    .page_wrap .c_heading {
        font-size: 22px;
        line-height: 30px;
    }
}
.page_wrap .c_heading.center {
    text-align: center;
}
.page_wrap .c_heading .shadow {
    text-shadow: rgba(241, 179, 243, 0.8) 2px 2px 0px;
}
.page_wrap .top_banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 170px 0;
}
@media (max-width: 1199px) {
    .page_wrap .top_banner {
        padding: 150px 0;
    }
}
@media (max-width: 991px) {
    .page_wrap .top_banner {
        padding: 120px 0;
    }
}
@media (max-width: 767px) {
    .page_wrap .top_banner {
        padding: 80px 0;
    }
}
.page_wrap .top_banner .bg_topbanner {
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.page_wrap .top_banner .custom_container {
    position: relative;
}
.page_wrap .top_banner .textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page_wrap .top_banner .textbox h1 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -1.2px;
    color: #384554;
    font-family: "Nasalization";
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
@media (max-width: 1199px) {
    .page_wrap .top_banner .textbox h1 {
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width: 991px) {
    .page_wrap .top_banner .textbox h1 {
        font-size: 28px;
        line-height: 34px;
    }
}
@media (max-width: 767px) {
    .page_wrap .top_banner .textbox h1 {
        font-size: 22px;
        line-height: 30px;
    }
}
.page_wrap .top_banner .textbox h1.center {
    text-align: center;
}
.page_wrap .top_banner .textbox h1 .shadow {
    text-shadow: rgba(241, 179, 243, 0.8) 2px 2px 0px;
}
.page_wrap .top_banner .textbox .c_subheading {
    font-size: 19px;
    line-height: 27px;
    font-weight: 600;
    color: #384554;
    letter-spacing: -0.22px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .page_wrap .top_banner .textbox .c_subheading {
        font-size: 16px;
        line-height: 24px;
    }
}
.page_wrap .top_banner .textbox p {
    max-width: 650px;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: -0.17px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}
@media (max-width: 991px) {
    .page_wrap .top_banner .textbox p {
        font-size: 16px;
    }
}
.page_wrap .top_banner .textbox .full_btnrow .cta_btn.no_bg {
    color: #fff;
}
.page_wrap .top_banner .textbox .full_btnrow .cta_btn.no_bg svg path {
    fill: #fff;
}
.page_wrap .top_banner .textbox .full_btnrow .cta_btn.no_bg:hover {
    color: #f1b3f3;
}
.page_wrap .top_banner .textbox .full_btnrow .cta_btn.no_bg:hover svg path {
    fill: #f1b3f3;
}
.page_wrap .arcticle_wrap {
    width: 100%;
}
.page_wrap .arcticle_wrap.bg {
    background: url("../images/article/bg1.png") no-repeat center bottom;
    background-size: 100% auto;
}
.page_wrap .article_content {
    background: url("../images/article/patch1.png") no-repeat right top 50px;
    background-size: 475px auto;
    padding: 50px 0;
    position: relative;
}
@media (max-width: 991px) {
    .page_wrap .article_content {
        background-size: 375px auto;
        padding: 35px 0;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_content {
        background-size: 200px auto;
        padding: 25px 0;
    }
}
.page_wrap .article_content:before {
    content: "";
    background: url("../images/article/patch2.png") no-repeat right top 50px;
    background-size: 100% auto;
    width: 395px;
    height: 401px;
    position: absolute;
    left: 0;
    bottom: 50px;
}
@media (max-width: 991px) {
    .page_wrap .article_content:before {
        width: 295px;
        height: 299px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_content:before {
        width: 200px;
        height: 203px;
    }
}
.page_wrap .article_content .custom_container {
    position: relative;
}
.page_wrap .article_content h2 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -1.2px;
    color: #384554;
    font-family: "Nasalization";
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}
@media (max-width: 1199px) {
    .page_wrap .article_content h2 {
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width: 991px) {
    .page_wrap .article_content h2 {
        font-size: 28px;
        line-height: 34px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_content h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 15px;
    }
}
.page_wrap .article_content h2.center {
    text-align: center;
}
.page_wrap .article_content h2 .shadow {
    text-shadow: rgba(241, 179, 243, 0.8) 2px 2px 0px;
}
@media (max-width: 767px) {
    .page_wrap .article_content h2 br {
        display: none;
    }
}
.page_wrap .article_content h3 {
    font-size: 22px;
    line-height: 33px;
    color: #384554;
    font-weight: 500;
    letter-spacing: -0.22px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    display: block;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .page_wrap .article_content h3 {
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_content h3 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
    }
}
.page_wrap .article_content h3.center {
    text-align: center;
}
@media (max-width: 767px) {
    .page_wrap .article_content h3 br {
        display: none;
    }
}
.page_wrap .article_content p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -0.14px;
    font-family: "Poppins", sans-serif;
    color: #384554;
    text-align: justify;
    margin: 0 0 20px;
}
.page_wrap .article_content p strong,
.page_wrap .article_content p b {
    font-weight: 700;
}
.page_wrap .article_content p a {
    color: #5fd8ec;
    text-decoration: underline;
}
.page_wrap .article_content p a:hover {
    text-decoration: none;
}
.page_wrap .article_content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .page_wrap .article_content ul {
        margin-bottom: 20px;
    }
}
.page_wrap .article_content ul li {
    background: url("../images/article/icon_bullet_points.png") no-repeat left top 0px;
    background-size: 22px auto;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #384554;
    letter-spacing: -0.14px;
    font-family: "Poppins", sans-serif;
    padding-left: 35px;
}
.page_wrap .article_content ul li strong,
.page_wrap .article_content ul li b {
    font-weight: 700;
}
.page_wrap .article_content ul li a {
    color: #5fd8ec;
    text-decoration: underline;
}
.page_wrap .article_content ul li a:hover {
    text-decoration: none;
}
.page_wrap .article_content h4 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.9px;
    color: #0024fc;
    font-family: "Nasalization";
    font-weight: 400;
    margin: 0 0 20px;
}
@media (max-width: 1199px) {
    .page_wrap .article_content h4 {
        font-size: 28px;
    }
}
@media (max-width: 991px) {
    .page_wrap .article_content h4 {
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_content h4 {
        font-size: 22px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_content h4 br {
        display: none;
    }
}
.page_wrap .article_banner {
    background: url("../images/article/bg_banner2.png") no-repeat center bottom;
    background-size: cover;
    position: relative;
    padding: 0 0 50px;
}
@media (max-width: 991px) {
    .page_wrap .article_banner {
        padding-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_banner {
        padding-bottom: 15px;
    }
}
.page_wrap .article_banner .top_patch {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.page_wrap .article_banner .top_patch img {
    width: 100%;
    vertical-align: top;
}
.page_wrap .article_banner .custom_container {
    position: relative;
}
.page_wrap .article_banner .number_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 0px 0 60px;
}
@media (max-width: 1199px) {
    .page_wrap .article_banner .number_wrap {
        gap: 15px;
    }
}
@media (max-width: 991px) {
    .page_wrap .article_banner .number_wrap {
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_banner .number_wrap {
        margin-bottom: 30px;
    }
}
.page_wrap .article_banner .number_wrap .common {
    background-color: #fff;
    width: calc(20% - 20px);
    padding: 25px 25px 20px;
    border: 1px solid #c5cbd26f;
    box-shadow: inset 0px 9px 12px #626e7817;
    border-radius: 20px;
}
@media (max-width: 1199px) {
    .page_wrap .article_banner .number_wrap .common {
        width: calc(20% - 12px);
        padding: 15px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_banner .number_wrap .common {
        width: calc(50% - 12px);
    }
}
.page_wrap .article_banner .number_wrap .common .number {
    font-size: 50px;
    line-height: 48px;
    font-weight: 400;
    font-family: "Nasalization";
    color: #0024fc;
    letter-spacing: -0.95px;
}
@media (max-width: 991px) {
    .page_wrap .article_banner .number_wrap .common .number {
        font-size: 32px;
        line-height: 45px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_banner .number_wrap .common .number {
        font-size: 26px;
        line-height: 30px;
    }
}
.page_wrap .article_banner .number_wrap .common .animate_border {
    width: 50px;
    margin: 25px 0 20px;
}
.page_wrap .article_banner .number_wrap .common .animate_border:before {
    background: #e1003e;
}
@media (max-width: 991px) {
    .page_wrap .article_banner .number_wrap .common .animate_border {
        margin: 20px 0;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_banner .number_wrap .common .animate_border {
        margin: 10px 0;
    }
}
.page_wrap .article_banner .number_wrap .common p {
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
    font-family: "Poppins", sans-serif;
    text-align: left;
}
.page_wrap .article_banner .number_wrap .common:hover {
    box-shadow: inset 0px -9px 12px #626e7817;
}
.page_wrap .article_banner .textbox {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: baselinec;
}
.page_wrap .article_banner .textbox h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.57px;
    text-align: center;
    font-weight: 400;
    font-family: "Nasalization";
    color: #f1b3f3;
    margin: 0 0 5px;
}
@media (max-width: 991px) {
    .page_wrap .article_banner .textbox h3 {
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_banner .textbox h3 {
        font-size: 20px;
        line-height: 26px;
    }
}
.page_wrap .article_banner .textbox h4 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.38px;
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 0 0 10px;
}
@media (max-width: 991px) {
    .page_wrap .article_banner .textbox h4 {
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width: 767px) {
    .page_wrap .article_banner .textbox h4 {
        font-size: 16px;
        line-height: 22px;
    }
}
.page_wrap .article_banner .textbox p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 15px;
}
.page_wrap .article_banner .textbox .btnwrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 25px 0;
}
@media (max-width: 767px) {
    .page_wrap .article_banner .textbox .btnwrap {
        padding: 0;
    }
}
.page_wrap .article_banner .textbox .btnwrap li {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    padding: 0 15px 0 35px;
}
@media (max-width: 767px) {
    .page_wrap .article_banner .textbox .btnwrap li {
        width: 100%;
        padding: 20px 0;
        align-items: center;
    }
}
.page_wrap .article_banner .textbox .btnwrap li ~ li:before {
    content: "";
    background-color: #f1b3f3;
    width: 2px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
@media (max-width: 767px) {
    .page_wrap .article_banner .textbox .btnwrap li ~ li:before {
        width: 100%;
        height: 2px;
    }
}
.page_wrap .article_banner .textbox .btnwrap li .fullrow {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
@media (max-width: 767px) {
    .page_wrap .article_banner .textbox .btnwrap li .fullrow {
        justify-content: center;
    }
}
.page_wrap .article_banner .textbox .btnwrap li .fullrow .icon {
    width: 35px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.page_wrap .article_banner .textbox .btnwrap li .fullrow .icon:before {
    content: "";
    background-color: #0024fc;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 5px;
    border: 20px;
    border-radius: 50px;
    opacity: 0.8;
}
.page_wrap .article_banner .textbox .btnwrap li .fullrow .icon img,
.page_wrap .article_banner .textbox .btnwrap li .fullrow .icon svg {
    max-width: 30px;
    max-height: 30px;
    position: relative;
}
.page_wrap .article_banner .textbox .btnwrap li .fullrow .htext {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.16px;
    color: #fff;
    font-family: "Nasalization";
}
.page_wrap .article_banner .textbox .btnwrap li .cta_btn {
    background: #0024fc;
    background: -webkit-linear-gradient(145deg, #0024fc 0%, #f1b3f3 100%);
    background: -moz-linear-gradient(145deg, #0024fc 0%, #f1b3f3 100%);
    background: linear-gradient(145deg, #0024fc 0%, #f1b3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0024FC", endColorstr="#F1B3F3", GradientType=0);
    min-width: 175px;
    min-height: 45px;
    font-size: 12px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #fff;
    border: 0;
}
.page_wrap .article_banner .textbox .btnwrap li .cta_btn .rgt_arrow svg path {
    fill: #fdec07;
}
.page_wrap .article_banner .textbox .btnwrap li .cta_btn:hover {
    background: #f1b3f3;
    background: -webkit-linear-gradient(145deg, #f1b3f3 0%, #0024fc 100%);
    background: -moz-linear-gradient(145deg, #f1b3f3 0%, #0024fc 100%);
    background: linear-gradient(145deg, #f1b3f3 0%, #0024fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0024FC", endColorstr="#F1B3F3", GradientType=0);
}
.page_wrap .article_banner.bg2 {
    background: url("../images/article/bg_banner3.png") no-repeat center bottom;
    background-size: cover;
}
.page_wrap .related_articles {
    width: 100%;
    padding: 50px 0;
}
@media (max-width: 991px) {
    .page_wrap .related_articles {
        padding: 40px 0;
    }
}
@media (max-width: 767px) {
    .page_wrap .related_articles {
        padding: 25px 0;
    }
}
.page_wrap .related_articles .c_heading {
    margin-bottom: 35px;
}
@media (max-width: 767px) {
    .page_wrap .related_articles .c_heading {
        margin-bottom: 20px;
    }
}
@media (max-width: 1299px) {
    .page_wrap .related_articles .related_carousel {
        padding: 0 15px;
    }
}
.page_wrap .related_articles .related_carousel .owl-item {
    padding: 15px;
}
@media (max-width: 767px) {
    .page_wrap .related_articles .related_carousel .owl-item {
        padding: 10px;
    }
}
.page_wrap .related_articles .related_carousel .item {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: inset 0px 9px 12px #626e7817;
    border: 1px solid #c5cbd26f;
    border-radius: 20px;
    opacity: 1;
}
@media (max-width: 767px) {
    .page_wrap .related_articles .related_carousel .item {
        padding: 20px;
    }
}
.page_wrap .related_articles .related_carousel .item .imgbox {
    background: url("../images/article/bg_related_carousel.png") no-repeat left center;
    background-size: auto 100%;
    width: 100%;
    padding: 12px 0 12px 12px;
    margin-bottom: 20px;
}
.page_wrap .related_articles .related_carousel .item .imgbox img {
    border-radius: 0 0 43px 0;
}
.page_wrap .related_articles .related_carousel .item h3 {
    max-width: 260px;
    font-size: 17px;
    line-height: 21px;
    color: #0024fc;
    letter-spacing: -0.51px;
    font-family: "Nasalization";
    font-weight: 400;
    margin-bottom: 15px;
}
.page_wrap .related_articles .related_carousel .item a {
    min-width: auto;
    font-size: 14px;
    line-height: 21px;
    color: #384554;
    letter-spacing: -0.14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-left: 0;
    padding-right: 45px;
}
