@font-face {
	font-family: 'Nasalization';
	src: url('../fonts/Nasalization-Regular.eot');
	src: url('../fonts/Nasalization-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nasalization-Regular.woff2') format('woff2'),
		url('../fonts/Nasalization-Regular.woff') format('woff'),
		url('../fonts/Nasalization-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


$primary: #0024FC;
$secondary: #384554;
$black: #000000;
$white: #ffffff;
$pink: #F1B3F3;
$red: #E1003E;
$ylw: #fdec07;
$Poppins: 'Poppins', sans-serif;
$Nasalization: 'Nasalization';
$Outfit: "Outfit", sans-serif;


body {
	background: #ffffff;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* page_wrap */
.page_wrap {
	background-color: #FBFCFD;
	width: 100%;
	min-height: 103px;
	overflow: hidden;
	z-index: 0;
	font-family: $Poppins;

	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		border: 0;
		-ms-interpolation-mode: bicubic
	}

	.customscroll::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	.customscroll::-webkit-scrollbar-thumb {
		background-color: $primary;
	}

	.transition {
		transition: all ease-in-out 0.4s;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $Poppins;
		margin: 0;
		padding: 0;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
		appearance: textfield;
	}

	button,
	button:focus {
		outline: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	p {
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
		color: $secondary;
	}

	a,
	a:hover {
		font-size: inherit;
		text-decoration: none
	}

	span,
	strong,
	i {
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
	}

	.mlr-auto {
		margin-left: auto;
		margin-right: auto
	}

	input:focus,
	textarea:focus {
		outline: none
	}

	button {
		// background: none;
		border: 0;
		font-family: $Poppins;
	}

	.relative {
		position: relative;
	}

	.text_center {
		text-align: center;
	}

	.text_right {
		text-align: right !important;
	}

	.fw_400 {
		font-weight: 400 !important;
	}

	.fw_500 {
		font-weight: 500 !important;
	}

	.fw_600 {
		font-weight: 600 !important;
	}

	.fw_700 {
		font-weight: 700 !important;
	}

	.bluetext {
		color: $primary !important;
	}

	.whitetext {
		color: $white !important;
	}

	.blacktext {
		color: $black !important;
	}

	.pinktext {
		color: $pink !important;
	}

	.pt-0 {
		padding-top: 0 !important;
	}

	.pb-0 {
		padding-bottom: 0 !important;
	}

	.d-none {
		display: none;
	}

	/* zoomIn animation Start */
	@-webkit-keyframes zoomInOut {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}

	@keyframes zoomInOut {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}

	.zoomInOut {
		animation: zoomInOut 3s ease-in-out infinite;
		-webkit-animation: zoomInOut 3s ease-in-out infinite;
	}

	/* zoomIn animation End */

	/* moveRightLeft animation Start */
	@-webkit-keyframes moveRightLeft {
		0% {
			right: 10px;
		}

		50% {
			right: 20px;
		}

		100% {
			right: 10px;
		}
	}

	@keyframes moveRightLeft {
		0% {
			right: 10px;
		}

		50% {
			right: 20px;
		}

		100% {
			right: 10px;
		}
	}

	.moveRightLeft {
		animation: moveRightLeft 3s ease-in-out infinite;
		-webkit-animation: moveRightLeft 3s ease-in-out infinite;
	}

	/* moveRightLeft animation End */

	/* moveTopBottom animation Start */
	@-webkit-keyframes moveTopBottom {
		0% {
			top: 0px;
		}

		50% {
			top: -7px;
		}

		100% {
			top: 0px;
		}
	}

	@keyframes moveTopBottom {
		0% {
			top: 0px;
		}

		50% {
			top: -7px;
		}

		100% {
			top: 0px;
		}
	}

	.moveTopBottom {
		animation: moveTopBottom 3s ease-in-out infinite;
		-webkit-animation: moveTopBottom 3s ease-in-out infinite;
	}

	/* moveTopBottom animation End */

	/* autoflip Start */
	@-webkit-keyframes autoflip {
		0% {
			transform: rotateY(0deg);
		}

		20% {
			transform: rotateY(0deg);
		}

		100% {
			transform: rotateY(360deg);
		}
	}

	@keyframes autoflip {
		0% {
			transform: rotateY(0deg);
		}

		20% {
			transform: rotateY(0deg);
		}

		100% {
			transform: rotateY(360deg);
		}
	}

	.autoflip {
		-webkit-animation: autoflip 5s linear infinite;
		animation: autoflip 5s linear infinite;
		transform-style: preserve-3d;
	}

	/* autoflip End */

	/* borderanimate Start */
	@-webkit-keyframes textYlwWhite {
		0% {
			width: 35px;
		}

		100% {
			width: 100%;
		}
	}

	@keyframes borderanimate {
		0% {
			width: 35px;
		}

		100% {
			width: 100%;
		}
	}

	.animate_border {
		width: 150px;
		height: 3px;
		position: relative;
		margin: 5px 0;

		&:before {
			content: '';
			position: absolute;
			background: linear-gradient(90deg, $primary 50%, $secondary 50%) top/100% 3px no-repeat;
			width: 30px;
			height: 3px;
			animation: 3s linear infinite alternate forwards borderanimate;
			-webkit-animation: 3s linear infinite alternate forwards borderanimate;
			bottom: 0;
			border-radius: 10px;
		}

		&.center {
			margin: 0 auto;

			&:before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	/* borderanimate End */

	/* rotate_animation Start */
	@-webkit-keyframes rotate {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	.rotate_animation {
		animation: rotate 5s linear infinite;
		-webkit-animation: rotate 5s linear infinite;
	}

	/* rotate_animation End */


	/* gradient animation Start */
	@-webkit-keyframes gradient {
		0% {
			background-position: -5000px 0
		}

		100% {
			background-position: 5000px 0
		}
	}

	@keyframes gradient {
		0% {
			background-position: -5000px 0
		}

		100% {
			background-position: 5000px 0
		}
	}

	.brand_btn {
		-webkit-animation: gradient 53s linear infinite;
		animation: gradient 53s linear infinite;
		background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, rgba(255, 255, 255, 0.3) 45.27%,
				rgba(133, 239, 49, 0) 62.27%);

		&.brand_btnblue {
			background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, rgba(0, 36, 252, 0.1) 45.27%,
					rgba(133, 239, 49, 0) 62.27%);
		}

	}

	/* gradient animation End */

	/* cta_btn */
	.cta_btn {
		background-color: $white;
		min-width: 160px;
		min-height: 67px;
		padding: 10px 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.16px;
		font-family: $Nasalization;
		color: $secondary;
		text-decoration: none;
		position: relative;
		border: 1px solid #C5CBD26F;
		border-radius: 15px;
		box-shadow: inset 0px 9px 12px #626E7817;

		@media (max-width:991px) {
			min-height: 45px;
			font-size: 14px;
		}

		.rgt_arrow {
			width: 23px;
			height: 11px;
			line-height: 11px;
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -6px;
			transition: all 0.3s ease-in-out;

			svg {
				width: 23px;
				height: auto;
			}
		}

		&:hover {
			background: url("../images/article/bg_button.png")repeat-x left bottom;
			font-size: 16px;
			color: $white;
			box-shadow: 0px 9px 12px #626E781C;

			@media (max-width:991px) {
				font-size: 14px;
			}
		}

		&.animate_arrow {
			padding-right: 50px;
			position: relative;

			.rgt_arrow {
				position: absolute;
				right: 10px;
				top: 50%;
				-webkit-animation: moveRightLeft 3s linear infinite;
				animation: moveRightLeft 3s linear infinite;

				svg {
					path {
						transition: all 0.4s ease-in-out;
					}
				}
			}
		}

		&.bgblue {
			background-color: $primary;
			color: $white;

			&:hover {
				background: $secondary;
			}
		}

		&.no_bg {
			background-color: transparent;
			min-height: auto;
			color: $primary;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 0;
			box-shadow: none;
			border: 0;

			&:hover {
				background: none;
				color: $secondary;

				svg {
					path {
						fill: $secondary;
					}
				}
			}

			&.textwhite {
				color: $white;

				svg {
					path {
						fill: $white;
					}
				}

				&:hover {
					color: $primary;

					svg {
						path {
							fill: $primary;
						}
					}
				}
			}
		}

	}

	.common_fullrow {
		.custom_container {
			padding: 20px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
			}

			> {
				div {
					width: 47%;

					&.full {
						width: 100% !important;
					}

					@media (max-width:767px) {
						width: 100% !important;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 15px;

		@media (max-width:767px) {
			padding-bottom: 0;
		}

		p {
			font-size: 14px;
			line-height: 21px;
			color: $secondary;
			letter-spacing: -0.14px;
			font-family: $Poppins;
			text-align: justify;
			font-weight: 400;
			margin-bottom: 20px;

			&.center {
				text-align: center;
			}
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px 0;
			padding-bottom: 40px;

			@media (max-width:991px) {
				padding-bottom: 25px;
			}

			li {
				font-size: 16px;
				line-height: 22px;
				font-family: $Poppins;
				color: $black;
				font-weight: 400;
				padding-left: 32px;
			}
		}

		&.texttop {
			justify-content: flex-start;
		}
	}

	.full_btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		gap: 20px 30px;
		padding-top: 20px;

		@media (max-width:767px) {
			padding-top: 15px;
			gap: 20px;
		}

		&.center {
			justify-content: center;
		}

		&.end {
			justify-content: flex-end;
		}
	}

	.custom_container {
		width: 100%;
		max-width: 1226px;
		padding: 0 15px;
		margin: 0 auto;
	}

	svg {
		width: auto;
		height: auto;
	}

	/* owl-carousel */
	.owl-carousel {

		.owl-stage,
		.owl-item {
			display: flex;
		}

		.owl-dots {
			display: none;
		}

		.owl-nav {
			> {
				div {
					width: 24px;
					height: 24px;
					border-radius: 50px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					@media (max-width:767px) {
						width: 20px;
						height: 20px;
					}

					&.disabled {
						display: none;
					}

					&.owl-prev {
						background: url("../images/article/carousel_leftarrow.svg")no-repeat center center;
						background-size: 100% 100%;
						left: -35px;

						@media (max-width:1250px) {
							left: 0;
						}
					}

					&.owl-next {
						background: url("../images/article/carousel_rightarrow.svg")no-repeat center center;
						background-size: 100% 100%;
						right: -35px;

						@media (max-width:1250px) {
							right: 0;
						}
					}

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}

	.c_heading {
		font-size: 40px;
		line-height: 47px;
		letter-spacing: -1.2px;
		color: $secondary;
		font-family: $Nasalization;
		font-weight: 400;
		text-align: left;
		margin-bottom: 10px;

		@media (max-width:1199px) {
			font-size: 32px;
			line-height: 40px;
		}

		@media (max-width:991px) {
			font-size: 28px;
			line-height: 34px;
		}

		@media (max-width:767px) {
			font-size: 22px;
			line-height: 30px;
		}

		&.center {
			text-align: center;
		}

		.shadow {
			text-shadow: rgba(241, 179, 243, 0.8) 2px 2px 0px;
		}
	}

	/* top_banner */
	.top_banner {
		width: 100%;
		position: relative;
		overflow: hidden;
		display: flex;
		padding: 170px 0;

		@media (max-width:1199px) {
			padding: 150px 0;
		}

		@media (max-width:991px) {
			padding: 120px 0;
		}

		@media (max-width:767px) {
			padding: 80px 0;
		}

		.bg_topbanner {
			background-size: cover;
			background-position: center bottom;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		.custom_container {
			position: relative;
		}

		.textbox {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			h1 {
				font-size: 40px;
				line-height: 47px;
				letter-spacing: -1.2px;
				color: $secondary;
				font-family: $Nasalization;
				font-weight: 400;
				text-align: center;
				margin-bottom: 10px;

				@media (max-width:1199px) {
					font-size: 32px;
					line-height: 40px;
				}

				@media (max-width:991px) {
					font-size: 28px;
					line-height: 34px;
				}

				@media (max-width:767px) {
					font-size: 22px;
					line-height: 30px;
				}

				&.center {
					text-align: center;
				}

				.shadow {
					text-shadow: rgba(241, 179, 243, 0.8) 2px 2px 0px;
				}
			}

			.c_subheading {
				font-size: 19px;
				line-height: 27px;
				font-weight: 600;
				color: $secondary;
				letter-spacing: -0.22px;
				font-family: $Poppins;
				text-align: center;
				display: block;
				margin-bottom: 15px;

				@media (max-width:767px) {
					font-size: 16px;
					line-height: 24px;
				}
			}

			p {
				max-width: 650px;
				font-size: 17px;
				line-height: 27px;
				letter-spacing: -0.17px;
				font-weight: 400;
				color: $white;
				text-align: center;
				margin-bottom: 15px;

				@media (max-width:991px) {
					font-size: 16px;
				}
			}

			.full_btnrow {
				.cta_btn {
					&.no_bg {
						color: $white;

						svg {
							path {
								fill: $white;
							}
						}

						&:hover {
							color: $pink;

							svg {
								path {
									fill: $pink;
								}
							}
						}
					}
				}
			}
		}
	}

	.arcticle_wrap {
		width: 100%;

		&.bg {
			background: url("../images/article/bg1.png")no-repeat center bottom;
			background-size: 100% auto;
		}
	}

	/* article_content */
	.article_content {
		background: url("../images/article/patch1.png")no-repeat right top 50px;
		background-size: 475px auto;
		padding: 50px 0;
		position: relative;

		@media (max-width:991px) {
			background-size: 375px auto;
			padding: 35px 0;
		}

		@media (max-width:767px) {
			background-size: 200px auto;
			padding: 25px 0;
		}

		&:before {
			content: '';
			background: url("../images/article/patch2.png")no-repeat right top 50px;
			background-size: 100% auto;
			width: 395px;
			height: 401px;
			position: absolute;
			left: 0;
			bottom: 50px;

			@media (max-width:991px) {
				width: 295px;
				height: 299px;
			}

			@media (max-width:767px) {
				width: 200px;
				height: 203px;
			}
		}

		.custom_container {
			position: relative;
		}

		h2 {
			font-size: 40px;
			line-height: 47px;
			letter-spacing: -1.2px;
			color: $secondary;
			font-family: $Nasalization;
			font-weight: 400;
			text-align: left;
			margin-bottom: 20px;

			@media (max-width:1199px) {
				font-size: 32px;
				line-height: 40px;
			}

			@media (max-width:991px) {
				font-size: 28px;
				line-height: 34px;
			}

			@media (max-width:767px) {
				font-size: 22px;
				line-height: 30px;
				margin-bottom: 15px;
			}

			&.center {
				text-align: center;
			}

			.shadow {
				text-shadow: rgba(241, 179, 243, 0.8) 2px 2px 0px;
			}

			br {
				@media (max-width:767px) {
					display: none;
				}
			}
		}

		h3 {
			font-size: 22px;
			line-height: 33px;
			color: $secondary;
			font-weight: 500;
			letter-spacing: -0.22px;
			font-family: $Poppins;
			text-align: left;
			display: block;
			margin-bottom: 20px;

			@media (max-width:991px) {
				font-size: 20px;
				line-height: 26px;
			}

			@media (max-width:767px) {
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 15px;
			}

			&.center {
				text-align: center;
			}

			br {
				@media (max-width:767px) {
					display: none;
				}
			}
		}

		p {
			font-size: 14px;
			line-height: 21px;
			font-weight: 400;
			letter-spacing: -0.14px;
			font-family: $Poppins;
			color: $secondary;
			text-align: justify;
			margin: 0 0 20px;

			strong,
			b {
				font-weight: 700;
			}

			a {
				color: #5FD8EC;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;
			margin-bottom: 30px;

			@media (max-width:767px) {
				margin-bottom: 20px;
			}

			li {
				background: url("../images/article/icon_bullet_points.png")no-repeat left top 0px;
				background-size: 22px auto;
				font-size: 14px;
				line-height: 21px;
				font-weight: 500;
				color: $secondary;
				letter-spacing: -0.14px;
				font-family: $Poppins;
				padding-left: 35px;

				strong,
				b {
					font-weight: 700;
				}

				a {
					color: #5FD8EC;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		h4 {
			font-size: 30px;
			line-height: 40px;
			letter-spacing: -0.9px;
			color: $primary;
			font-family: $Nasalization;
			font-weight: 400;
			margin: 0 0 20px;

			@media (max-width:1199px) {
				font-size: 28px;
			}

			@media (max-width:991px) {
				font-size: 24px;
				line-height: 30px;
			}

			@media (max-width:767px) {
				font-size: 22px;
			}

			br {
				@media (max-width:767px) {
					display: none;
				}
			}
		}
	}

	/* article_banner */
	.article_banner {
		background: url("../images/article/bg_banner2.png")no-repeat center bottom;
		background-size: cover;
		position: relative;
		padding: 0 0 50px;

		@media (max-width:991px) {
			padding-bottom: 30px;
		}

		@media (max-width:767px) {
			padding-bottom: 15px;
		}

		.top_patch {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;

			img {
				width: 100%;
				vertical-align: top;
			}
		}

		.custom_container {
			position: relative;
		}

		.number_wrap {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 25px;
			margin: 0px 0 60px;

			@media (max-width:1199px) {
				gap: 15px;
			}

			@media (max-width:991px) {
				margin-bottom: 50px;
			}

			@media (max-width:767px) {
				margin-bottom: 30px;
			}

			.common {
				background-color: $white;
				width: calc(20% - 20px);
				padding: 25px 25px 20px;
				border: 1px solid #C5CBD26F;
				box-shadow: inset 0px 9px 12px #626E7817;
				border-radius: 20px;

				@media (max-width:1199px) {
					width: calc(20% - 12px);
					padding: 15px;
				}

				@media (max-width:767px) {
					width: calc(50% - 12px);
				}

				.number {
					font-size: 50px;
					line-height: 48px;
					font-weight: 400;
					font-family: $Nasalization;
					color: $primary;
					letter-spacing: -0.95px;

					@media (max-width:991px) {
						font-size: 32px;
						line-height: 45px;
					}

					@media (max-width:767px) {
						font-size: 26px;
						line-height: 30px;
					}
				}

				.animate_border {
					width: 50px;
					margin: 25px 0 20px;

					&:before {
						background: $red;
					}

					@media (max-width:991px) {
						margin: 20px 0;
					}

					@media (max-width:767px) {
						margin: 10px 0;
					}
				}

				p {
					font-size: 12px;
					line-height: 21px;
					font-weight: 600;
					color: $black;
					font-family: $Poppins;
					text-align: left;
				}

				&:hover {
					box-shadow: inset 0px -9px 12px #626E7817;
				}
			}
		}

		.textbox {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: baselinec;

			h3 {
				font-size: 30px;
				line-height: 40px;
				letter-spacing: -0.57px;
				text-align: center;
				font-weight: 400;
				font-family: $Nasalization;
				color: $pink;
				margin: 0 0 5px;

				@media (max-width:991px) {
					font-size: 24px;
					line-height: 30px;
				}

				@media (max-width:767px) {
					font-size: 20px;
					line-height: 26px;
				}
			}

			h4 {
				font-size: 20px;
				line-height: 28px;
				letter-spacing: -0.38px;
				text-align: center;
				font-weight: 600;
				font-family: $Poppins;
				color: $white;
				margin: 0 0 10px;

				@media (max-width:991px) {
					font-size: 18px;
					line-height: 24px;
				}

				@media (max-width:767px) {
					font-size: 16px;
					line-height: 22px;
				}
			}

			p {
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				font-weight: 400;
				font-family: $Poppins;
				color: $white;
				margin-bottom: 15px;
			}

			.btnwrap {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: center;
				padding: 25px 0;

				@media (max-width:767px) {
					padding: 0;
				}

				li {
					width: 33.3%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 15px;
					position: relative;
					padding: 0 15px 0 35px;

					@media (max-width:767px) {
						width: 100%;
						padding: 20px 0;
						align-items: center;
					}

					~ {
						li {
							&:before {
								content: '';
								background-color: $pink;
								width: 2px;
								height: 50px;
								position: absolute;
								left: 0;
								top: 0;

								@media (max-width:767px) {
									width: 100%;
									height: 2px;

								}
							}
						}
					}

					.fullrow {
						width: 100%;
						display: flex;
						align-items: flex-start;
						gap: 10px;

						@media (max-width:767px) {
							justify-content: center;
						}

						.icon {
							width: 35px;
							height: 30px;
							line-height: 30px;
							display: flex;
							align-items: center;
							justify-content: flex-end;
							position: relative;

							&:before {
								content: '';
								background-color: $primary;
								width: 20px;
								height: 20px;
								position: absolute;
								left: 0;
								top: 5px;
								border: 20px;
								border-radius: 50px;
								opacity: 0.8;
							}

							img,
							svg {
								max-width: 30px;
								max-height: 30px;
								position: relative;
							}
						}

						.htext {
							font-size: 16px;
							line-height: 22px;
							font-weight: 400;
							letter-spacing: -0.16px;
							color: $white;
							font-family: $Nasalization;
						}
					}

					.cta_btn {
						background: #0024FC;
						background: -webkit-linear-gradient(145deg, rgba(0, 36, 252, 1) 0%, rgba(241, 179, 243, 1) 100%);
						background: -moz-linear-gradient(145deg, rgba(0, 36, 252, 1) 0%, rgba(241, 179, 243, 1) 100%);
						background: linear-gradient(145deg, rgba(0, 36, 252, 1) 0%, rgba(241, 179, 243, 1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0024FC", endColorstr="#F1B3F3", GradientType=0);
						min-width: 175px;
						min-height: 45px;
						font-size: 12px;
						font-family: $Outfit;
						font-weight: 600;
						color: $white;
						border: 0;

						.rgt_arrow {
							svg {
								path {
									fill: $ylw;
								}
							}
						}

						&:hover {
							background: #F1B3F3;
							background: -webkit-linear-gradient(145deg, rgba(241, 179, 243, 1) 0%, rgba(0, 36, 252, 1) 100%);
							background: -moz-linear-gradient(145deg, rgba(241, 179, 243, 1) 0%, rgba(0, 36, 252, 1) 100%);
							background: linear-gradient(145deg, rgba(241, 179, 243, 1) 0%, rgba(0, 36, 252, 1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0024FC", endColorstr="#F1B3F3", GradientType=0);
						}

					}
				}
			}
		}

		&.bg2 {
			background: url("../images/article/bg_banner3.png")no-repeat center bottom;
			background-size: cover;
		}
	}

	/* related_articles */
	.related_articles {
		width: 100%;
		padding: 50px 0;

		@media (max-width:991px) {
			padding: 40px 0;
		}

		@media (max-width:767px) {
			padding: 25px 0;
		}

		.c_heading {
			margin-bottom: 35px;

			@media (max-width:767px) {
				margin-bottom: 20px;
			}
		}

		.related_carousel {
			@media (max-width:1299px) {
				padding: 0 15px;
			}

			.owl-item {
				padding: 15px;

				@media (max-width:767px) {
					padding: 10px;
				}
			}

			.item {
				width: 100%;
				padding: 25px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				box-shadow: inset 0px 9px 12px #626E7817;
				border: 1px solid #C5CBD26F;
				border-radius: 20px;
				opacity: 1;

				@media (max-width:767px) {
					padding: 20px;
				}

				.imgbox {
					background: url("../images/article/bg_related_carousel.png")no-repeat left center;
					background-size: auto 100%;
					width: 100%;
					padding: 12px 0 12px 12px;
					margin-bottom: 20px;

					img {
						border-radius: 0 0 43px 0;
					}
				}

				h3 {
					max-width: 260px;
					font-size: 17px;
					line-height: 21px;
					color: $primary;
					letter-spacing: -0.51px;
					font-family: $Nasalization;
					font-weight: 400;
					margin-bottom: 15px;
				}

				a {
					min-width: auto;
					font-size: 14px;
					line-height: 21px;
					color: $secondary;
					letter-spacing: -0.14px;
					font-family: $Poppins;
					font-weight: 600;
					padding-left: 0;
					padding-right: 45px;
				}
			}
		}
	}

}