@font-face {
	font-family: 'Nasalization';
	src: url('../fonts/Nasalization-Regular.eot');
	src: url('../fonts/Nasalization-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Nasalization-Regular.woff2') format('woff2'),
		url('../fonts/Nasalization-Regular.woff') format('woff'),
		url('../fonts/Nasalization-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


$primary: #0024FC;
$secondary: #384554;
$black: #000000;
$white: #ffffff;
$Poppins: 'Poppins', sans-serif;
$Nasalization: 'Nasalization';


body {
	background: #ffffff;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* page_wrap */
.page_wrap {
	width: 100%;
	min-height: 103px;
	overflow: hidden;
	z-index: 0;
	font-family: $Poppins;

	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		border: 0;
		-ms-interpolation-mode: bicubic
	}

	.customscroll::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	.customscroll::-webkit-scrollbar-thumb {
		background-color: $primary;
	}

	.transition {
		transition: all ease-in-out 0.4s;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $Poppins;
		margin: 0;
		padding: 0;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
		appearance: textfield;
	}

	button,
	button:focus {
		outline: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	p {
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
		color: $secondary;
	}

	a,
	a:hover {
		font-size: inherit;
		text-decoration: none
	}

	span,
	strong,
	i {
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
	}

	.mlr-auto {
		margin-left: auto;
		margin-right: auto
	}

	input:focus,
	textarea:focus {
		outline: none
	}

	button {
		// background: none;
		border: 0;
		font-family: $Poppins;
	}

	.relative {
		position: relative;
	}

	.text_center {
		text-align: center;
	}

	.text_right {
		text-align: right !important;
	}

	.fw_400 {
		font-weight: 400 !important;
	}

	.fw_500 {
		font-weight: 500 !important;
	}

	.fw_600 {
		font-weight: 600 !important;
	}

	.fw_700 {
		font-weight: 700 !important;
	}

	.bluetext {
		color: $primary !important;
	}

	.whitetext {
		color: $white !important;
	}

	.blacktext {
		color: $black !important;
	}

	.pt-0 {
		padding-top: 0 !important;
	}

	.pb-0 {
		padding-bottom: 0 !important;
	}

	.d-none {
		display: none;
	}

	/* zoomIn animation Start */
	@-webkit-keyframes zoomInOut {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}

	@keyframes zoomInOut {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}

	.zoomInOut {
		animation: zoomInOut 3s ease-in-out infinite;
		-webkit-animation: zoomInOut 3s ease-in-out infinite;
	}

	/* zoomIn animation End */

	/* moveRightLeft animation Start */
	@-webkit-keyframes moveRightLeft {
		0% {
			right: 10px;
		}

		50% {
			right: 20px;
		}

		100% {
			right: 10px;
		}
	}

	@keyframes moveRightLeft {
		0% {
			right: 10px;
		}

		50% {
			right: 20px;
		}

		100% {
			right: 10px;
		}
	}

	.moveRightLeft {
		animation: moveRightLeft 3s ease-in-out infinite;
		-webkit-animation: moveRightLeft 3s ease-in-out infinite;
	}

	/* moveRightLeft animation End */

	/* moveTopBottom animation Start */
	@-webkit-keyframes moveTopBottom {
		0% {
			top: 0px;
		}

		50% {
			top: -7px;
		}

		100% {
			top: 0px;
		}
	}

	@keyframes moveTopBottom {
		0% {
			top: 0px;
		}

		50% {
			top: -7px;
		}

		100% {
			top: 0px;
		}
	}

	.moveTopBottom {
		animation: moveTopBottom 3s ease-in-out infinite;
		-webkit-animation: moveTopBottom 3s ease-in-out infinite;
	}

	/* moveTopBottom animation End */

	/* autoflip Start */
	@-webkit-keyframes autoflip {
		0% {
			transform: rotateY(0deg);
		}

		20% {
			transform: rotateY(0deg);
		}

		100% {
			transform: rotateY(360deg);
		}
	}

	@keyframes autoflip {
		0% {
			transform: rotateY(0deg);
		}

		20% {
			transform: rotateY(0deg);
		}

		100% {
			transform: rotateY(360deg);
		}
	}

	.autoflip {
		-webkit-animation: autoflip 5s linear infinite;
		animation: autoflip 5s linear infinite;
		transform-style: preserve-3d;
	}

	/* autoflip End */

	/* borderanimate Start */
	@-webkit-keyframes textYlwWhite {
		0% {
			width: 35px;
		}

		100% {
			width: 100%;
		}
	}

	@keyframes borderanimate {
		0% {
			width: 35px;
		}

		100% {
			width: 100%;
		}
	}

	.animate_border {
		width: 150px;
		height: 3px;
		position: relative;
		margin: 5px 0;

		&:before {
			content: '';
			position: absolute;
			background: linear-gradient(90deg, $primary 50%, $secondary 50%) top/100% 3px no-repeat;
			width: 30px;
			height: 3px;
			animation: 3s linear infinite alternate forwards borderanimate;
			-webkit-animation: 3s linear infinite alternate forwards borderanimate;
			bottom: 0;
			border-radius: 10px;
		}

		&.center {
			margin: 0 auto;

			&:before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	/* borderanimate End */

	/* rotate_animation Start */
	@-webkit-keyframes rotate {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	.rotate_animation {
		animation: rotate 5s linear infinite;
		-webkit-animation: rotate 5s linear infinite;
	}

	/* rotate_animation End */


	/* gradient animation Start */
	@-webkit-keyframes gradient {
		0% {
			background-position: -5000px 0
		}

		100% {
			background-position: 5000px 0
		}
	}

	@keyframes gradient {
		0% {
			background-position: -5000px 0
		}

		100% {
			background-position: 5000px 0
		}
	}

	.brand_btn {
		-webkit-animation: gradient 53s linear infinite;
		animation: gradient 53s linear infinite;
		background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, rgba(255, 255, 255, 0.3) 45.27%,
				rgba(133, 239, 49, 0) 62.27%);

		&.brand_btnblue {
			background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, rgba(0, 36, 252, 0.1) 45.27%,
					rgba(133, 239, 49, 0) 62.27%);
		}

	}

	/* gradient animation End */

	/* cta_btn */
	.cta_btn {
		background-color: $white;
		min-width: 160px;
		min-height: 67px;
		padding: 10px 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.16px;
		font-family: $Nasalization;
		color: $secondary;
		text-decoration: none;
		position: relative;
		border: 1px solid #C5CBD26F;
		border-radius: 15px;
		box-shadow: inset 0px 9px 12px #626E7817;

		@media (max-width:991px) {
			min-height: 45px;
			font-size: 14px;
		}

		.rgt_arrow {
			width: 23px;
			height: 11px;
			line-height: 11px;
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -6px;
			transition: all 0.3s ease-in-out;

			svg {
				width: 23px;
				height: auto;
			}
		}

		&:hover {
			background: url("../images/team/bg_button.png")repeat-x left bottom;
			font-size: 16px;
			color: $white;
			box-shadow: 0px 9px 12px #626E781C;

			@media (max-width:991px) {
				font-size: 14px;
			}
		}

		&.animate_arrow {
			padding-right: 50px;
			position: relative;

			.rgt_arrow {
				position: absolute;
				right: 10px;
				top: 50%;
				-webkit-animation: moveRightLeft 3s linear infinite;
				animation: moveRightLeft 3s linear infinite;

				svg {
					path {
						transition: all 0.4s ease-in-out;
					}
				}
			}
		}

		&.no_bg {
			background-color: transparent;
			min-height: auto;
			color: $primary;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 0;
			box-shadow: none;
			border: 0;

			&:hover {
				background: none;
				color: $secondary;

				svg {
					path {
						fill: $secondary;
					}
				}
			}

			&.textwhite {
				color: $white;

				svg {
					path {
						fill: $white;
					}
				}

				&:hover {
					color: $primary;

					svg {
						path {
							fill: $primary;
						}
					}
				}
			}
		}
	}

	.common_fullrow {
		.custom_container {
			padding: 20px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
			}

			> {
				div {
					width: 47%;

					&.full {
						width: 100% !important;
					}

					@media (max-width:767px) {
						width: 100% !important;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 15px;

		@media (max-width:767px) {
			padding-bottom: 0;
		}

		p {
			font-size: 14px;
			line-height: 21px;
			color: $secondary;
			letter-spacing: -0.14px;
			font-family: $Poppins;
			text-align: justify;
			font-weight: 400;
			margin-bottom: 20px;

			&.center {
				text-align: center;
			}
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px 0;
			padding-bottom: 40px;

			@media (max-width:991px) {
				padding-bottom: 25px;
			}

			li {
				font-size: 16px;
				line-height: 22px;
				font-family: $Poppins;
				color: $black;
				font-weight: 400;
				padding-left: 32px;
			}
		}

		&.texttop {
			justify-content: flex-start;
		}
	}

	.full_btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		gap: 20px 30px;
		padding-top: 20px;

		@media (max-width:767px) {
			padding-top: 15px;
			gap: 20px;
		}

		&.center {
			justify-content: center;
		}

		&.end {
			justify-content: flex-end;
		}
	}

	.custom_container {
		width: 100%;
		max-width: 1226px;
		padding: 0 15px;
		margin: 0 auto;
	}

	svg {
		width: auto;
		height: auto;
	}

	.c_heading {
		font-size: 40px;
		line-height: 47px;
		letter-spacing: -1.2px;
		color: $secondary;
		font-family: $Nasalization;
		font-weight: 400;
		text-align: left;
		margin-bottom: 10px;

		@media (max-width:1199px) {
			font-size: 32px;
			line-height: 40px;
		}

		@media (max-width:991px) {
			font-size: 28px;
			line-height: 34px;
		}

		@media (max-width:767px) {
			font-size: 22px;
			line-height: 30px;
		}

		&.center {
			text-align: center;
		}

		.bluetext {
			text-shadow: rgba(241, 179, 243, 0.8) 2px 2px 0px;
		}
	}

	.c_subheading {
		font-size: 18px;
		line-height: 26px;
		color: $secondary;
		font-family: $Poppins;
		font-weight: 500;
		text-align: left;
		display: block;
		margin-bottom: 17px;

		@media (max-width:767px) {
			font-size: 15px;
		}

		&.center {
			text-align: center;
		}
	}

	/* owl-carousel */
	.owl-carousel {

		.owl-stage,
		.owl-item {
			display: flex;
		}

		.owl-dots {
			display: none;
		}

		.owl-nav {
			> {
				div {
					width: 24px;
					height: 24px;
					border-radius: 50px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					@media (max-width:767px) {
						width: 20px;
						height: 20px;
					}

					&.disabled {
						display: none;
					}

					&.owl-prev {
						background: url("../images/team/carousel_leftarrow.svg")no-repeat center center;
						background-size: 100% 100%;
						left: -35px;

						@media (max-width:1250px) {
							left: 0;
						}
					}

					&.owl-next {
						background: url("../images/team/carousel_rightarrow.svg")no-repeat center center;
						background-size: 100% 100%;
						right: -35px;

						@media (max-width:1250px) {
							right: 0;
						}
					}

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}

	/* top_banner */
	.top_banner {
		width: 100%;
		position: relative;
		overflow: hidden;
		display: flex;
		padding: 170px 0;

		@media (max-width:1199px) {
			padding: 150px 0;
		}

		@media (max-width:991px) {
			padding: 120px 0;
		}

		@media (max-width:767px) {
			padding: 80px 0;
		}

		.bg_topbanner {
			background-size: cover;
			background-position: center bottom;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		.custom_container {
			position: relative;
		}

		.textbox {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.c_heading {
				margin-bottom: 25px;

				img {
					width: 100%;
					max-width: 294px;

					@media (max-width:1199px) {
						max-width: 240px;
					}

					@media (max-width:991px) {
						max-width: 200px;
						margin-top: 5px;
					}

					@media (max-width:767px) {
						max-width: 150px;
						margin-top: 5px;
					}
				}
			}

			p {
				max-width: 650px;
				font-size: 17px;
				line-height: 27px;
				letter-spacing: -0.17px;
				font-weight: 400;
				color: $white;
				text-align: center;

				@media (max-width:991px) {
					font-size: 16px;
				}



				strong {
					font-size: 19px;
					color: #F1B3F3;
					font-weight: 600;
					display: block;

					@media (max-width:991px) {
						font-size: 17px;
					}
				}
			}
		}
	}

	/* section1 */
	.section1 {
		width: 100%;
		padding: 30px 0;
		overflow: hidden;

		@media (max-width:991px) {
			padding: 10px 0 20px;
		}

		@media (max-width:767px) {
			padding: 0 0 20px;
		}
	}

	/* section2 */
	.section2 {
		background: url("../images/team/bg1.png")no-repeat center top;
		background-size: 100% auto;
		padding: 60px 0 50px;
		overflow: hidden;

		@media (max-width:991px) {
			padding: 40px 0;
		}

		@media (max-width:767px) {
			padding: 10px 0 20px;
		}
	}

	/* team_section */
	.team_section {
		background: url("../images/team/bg2.png")no-repeat center bottom;
		background-size: 100% auto;
		width: 100%;
		overflow: hidden;
		padding: 30px 0 100px;

		@media (max-width:991px) {
			padding: 30px 0 60px;
		}

		@media (max-width:767px) {
			padding: 20px 0 35px;
		}

		.top_textbox {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 65px;

			@media (max-width:991px) {
				margin-bottom: 45px;
			}

			p {
				max-width: 910px;
				margin: 0 auto;
				text-align: center;
			}
		}

		.commonbox_wrap {
			width: 100%;
			max-width: 870px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			margin-bottom: 30px;

			@media (max-width:991px) {
				max-width: 738px;
				gap: 20px;
			}

			@media (max-width:767px) {
				max-width: 490px;
			}

			@media (max-width:519px) {
				max-width: 268px;
			}

			.commonbox {
				background-color: $white;
				width: 268px;
				padding: 25px;
				border: 1px solid #C5CBD26F;
				box-shadow: inset 0px 9px 12px #626E7817;
				border-radius: 20px;
				position: relative;

				@media (max-width:991px) {
					width: 232px;
					padding: 20px;
				}

				@media (max-width:519px) {
					width: 100%;
				}

				.sociallink {
					width: 26px;
					position: absolute;
					right: 10px;
					top: 10px;
					transition: all ease-in-out 0.4s;

					&:hover {
						transform: rotate(360deg);
					}
				}

				.img {
					background: url("../images/team/bg_frame.png")no-repeat left top;
					background-size: 100% auto;
					width: 198px;
					height: 199px;
					padding: 12px;
					margin-bottom: 20px;
					display: flex;
					align-items: center;
					justify-content: center;

					@media (max-width:991px) {
						width: 166px;
						height: 167px;
						margin-bottom: 15px;
					}

					img {
						border-radius: 0 0 44px 0;
					}
				}

				.text {
					width: 100%;
					display: flex;
					flex-direction: column;

					h3 {
						font-size: 22px;
						line-height: 30px;
						font-weight: 400;
						color: $primary;
						letter-spacing: -0.66px;
						font-family: $Nasalization;

						@media (max-width:991px) {
							font-size: 20px;
							line-height: 28px;
						}
					}

					p {
						font-size: 14px;
						line-height: 21px;
						color: $secondary;
						letter-spacing: -0.14px;
						margin: 0;
					}
				}

				&:hover {
					box-shadow: 0px 9px 12px #626E781C;
				}
			}

			&.four_column {
				max-width: 1164px;

				@media (max-width:1199px) {
					max-width: 870px;
				}

				@media (max-width:991px) {
					max-width: 738px;
				}

				@media (max-width:767px) {
					max-width: 490px;
				}

				@media (max-width:519px) {
					max-width: 268px;
				}
			}
		}
	}

	/* section6 */
	.section6 {
		padding: 30px 0;

		@media (max-width:991px) {
			padding: 20px 0;
		}

		@media (max-width:767px) {
			padding: 15px 0;
		}
	}

	/* jointeam_icon */
	.jointeam_icon {
		position: fixed;
		right: 15px;
		bottom: 15px;

		@media (max-width:767px) {
			right: 10px;
			bottom: 10px;
		}

		.roundbtn {
			background: url("../images/team/bg_jointeam_icon.svg")no-repeat center center;
			background-size: 100% 100%;
			width: 70px;
			height: 70px;
			padding: 8px;
			border-radius: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			@media (max-width:767px) {
				width: 50px;
				height: 50px;
			}
		}

		.hoverbox {
			background-color: #ffffff;
			min-width: 200px;
			border-radius: 15px;
			padding: 15px 25px;
			box-shadow: inset 0px 9px 12px #626E7817;
			border: 1px solid #C5CBD26F;
			position: absolute;
			right: 0;
			bottom: 90px;
			transition: all ease-in-out 0.4s;
			opacity: 0;
			visibility: hidden;

			@media (max-width:767px) {
				min-width: 160px;
				padding: 10px;
				bottom: 70px;
			}

			.arrow {
				position: absolute;
				right: 25px;
				bottom: -15px;

				@media (max-width:767px) {
					right: 15px;
				}

				&:before {
					content: '';
					border-top: 15px solid #C5CBD26F;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					position: absolute;
					right: 0;
					bottom: 0;
				}

				&:after {
					content: '';
					border-top: 15px solid #ffffff;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					position: absolute;
					right: 0;
					bottom: 2px;
				}
			}

			p {
				font-size: 15px;
				line-height: 18px;
				letter-spacing: -0.45px;
				font-family: 'Nasalization';
				font-weight: 400;
				color: #384554;

				@media (max-width:767px) {
					font-size: 14px;
				}

				span {
					color: #0024FC;
					display: block;
				}
			}
		}

		&:hover {
			.hoverbox {
				opacity: 1;
				visibility: visible;
			}
		}
	}

}